<?xml version="1.0"?>
<robot name="excavator_reference">
  <link name="cs_ground"/>
  <link name="base_link"/>
  <link name="cs_cor"/>
  <link name="cs_boom"/>
  <link name="cs_arm"/>
  <link name="cs_bucket"/>
  <link name="cs_tilt"/>
  <link name="cs_rotate"/>

  <joint name="lower_body_joint" type="fixed">
    <parent link="cs_ground"/>
    <child link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <joint name="upper_body_joint" type="revolute">
    <parent link="base_link"/>
    <child link="cs_cor"/>
    <origin rpy="0 0 0" xyz="0 0 1.0670"/>
    <axis xyz="0 0 1"/>
    <limit lower="-10" upper="10" velocity="0.1" effort="100"/>
  </joint>

  <joint name="boom_joint" type="revolute">
    <parent link="cs_cor"/>
    <child link="cs_boom"/>
    <origin rpy="0 1.07374 0" xyz="0.117 -0.06 0.738"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-0.3" upper="1.1" velocity="0.1" effort="100"/>
  </joint>

  <joint name="arm_joint" type="revolute">
    <parent link="cs_boom"/>
    <child link="cs_arm"/>
    <origin rpy="0 -2.7182 0" xyz="2.718 0 5.0103"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-2.8" upper="0.1" velocity="0.1" effort="100"/>
  </joint>

  <joint name="bucket_joint" type="revolute">
    <parent link="cs_arm"/>
    <child link="cs_bucket"/>
    <origin rpy="0 0 0" xyz="-0.2142 0 -2.9029"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-2.0" upper="0.8" velocity="0.1" effort="100"/>
  </joint>

  <joint name="tilt_joint" type="revolute">
    <parent link="cs_bucket"/>
    <child link="cs_tilt"/>
    <origin rpy="0 -1.5708 0" xyz="0 0 -0.5548"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1" upper="1" velocity="0.1" effort="100"/>
  </joint>

  <joint name="rotate_joint" type="revolute">
    <parent link="cs_tilt"/>
    <child link="cs_rotate"/>
    <origin rpy="3.1415 -1.5708 0" xyz="0 0 -0.47"/>
    <axis xyz="0 0 1"/>
    <limit lower="-10" upper="10" velocity="0.1" effort="100"/>
  </joint>
</robot>
